.wrapper {
    display: flex;
    justify-content: space-between;

    margin-top: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;

    margin-top: 20px;
}

.button {
    margin: 0 0 0 10px;
}
