@import "../../../../node_modules/antd/dist/antd.css";

.wrapper {
    padding: 20px;

    background-color: white;
}

.row {
    margin-bottom: 15px;
}

.info_text {
    display: flex;

    margin-top: -20px;

    color: #bfbfbf;
}

.select {
    width: 100%;
}

.status_text {
    font-size: 14px;
    white-space: pre-line;

    &.error {
        color: #ff4d4f;
    }

    &.success {
        color: #52c41a;
    }
}
